# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_DOCS_URL=https://demos.themeselection.com/materio-mui-nextjs-admin-template/documentation
NEXT_PUBLIC_PRO_URL=https://demos.themeselection.com/materio-mui-nextjs-admin-template/demo-1
NEXT_PUBLIC_REPO_NAME=materio-mui-nextjs-admin-template-free
# -----------------------------------------------------------------------------
# Authentication & API
# -----------------------------------------------------------------------------
NEXT_PUBLIC_API_URL=http://localhost:3000
# -----------------------------------------------------------------------------
# Cloudinary
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=your_upload_preset
NEXT_PUBLIC_CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
# -----------------------------------------------------------------------------
# S3 Configuration
# -----------------------------------------------------------------------------
NEXT_PUBLIC_S3_BUCKET_NAME=your_bucket_name
NEXT_PUBLIC_S3_REGION=your_region
NEXT_PUBLIC_S3_BASE_URL=https://your_bucket_name.s3.your_region.amazonaws.com

